In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [3]:
df= df.drop('Date', axis = 'columns')
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [5]:
df['Location'] = le.fit_transform(df['Location'])
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [6]:
df.columns

Index(['Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [7]:
df.isnull().sum()

Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [8]:
median_cols = ['MaxTemp','Rainfall', 'Evaporation', 'Sunshine', 'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm' , 'Cloud9am' , 'Cloud3pm', 'Temp3pm']
mean_cols = ['MinTemp', 'Humidity9am', 'Humidity3pm', 'Pressure9am', 'Pressure3pm','Temp9am']
mode_cols = ['WindGustDir', 'WindDir9am','WindDir3pm', 'RainToday', 'RainTomorrow']

def fill_missing_values(df, median_cols=[], mean_cols=[], mode_cols=[]):
    # Fill with median
    for col in median_cols:
        if col in df.columns:
            df[col] = df[col].fillna(df[col].median())

    # Fill with mean
    for col in mean_cols:
        if col in df.columns:
            df[col] = df[col].fillna(df[col].mean())

    # Fill with mode
    for col in mode_cols:
        if col in df.columns:
            df[col] = df[col].fillna(df[col].mode()[0])

    return df

In [9]:
df = fill_missing_values(df, median_cols, mean_cols, mode_cols)
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2,13.4,22.9,0.6,4.8,8.4,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8,No,No
1,2,7.4,25.1,0.0,4.8,8.4,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,5.0,5.0,17.2,24.3,No,No
2,2,12.9,25.7,0.0,4.8,8.4,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2,No,No
3,2,9.2,28.0,0.0,4.8,8.4,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5,No,No
4,2,17.5,32.3,1.0,4.8,8.4,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [10]:
df.isnull().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [11]:
df.duplicated().sum()

222

In [12]:
df = df.drop_duplicates()

In [13]:
df.duplicated().sum()

0

In [14]:
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2,13.4,22.9,0.6,4.8,8.4,W,44.0,W,WNW,...,71.0,22.0,1007.7,1007.1,8.0,5.0,16.9,21.8,No,No
1,2,7.4,25.1,0.0,4.8,8.4,WNW,44.0,NNW,WSW,...,44.0,25.0,1010.6,1007.8,5.0,5.0,17.2,24.3,No,No
2,2,12.9,25.7,0.0,4.8,8.4,WSW,46.0,W,WSW,...,38.0,30.0,1007.6,1008.7,5.0,2.0,21.0,23.2,No,No
3,2,9.2,28.0,0.0,4.8,8.4,NE,24.0,SE,E,...,45.0,16.0,1017.6,1012.8,5.0,5.0,18.1,26.5,No,No
4,2,17.5,32.3,1.0,4.8,8.4,W,41.0,ENE,NW,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [15]:
dummies = pd.get_dummies(df[['WindGustDir', 'WindDir9am', 'WindDir3pm']]).astype(int)
dummies.head()

,WindGustDir_E,WindGustDir_ENE,WindGustDir_ESE,WindGustDir_N,WindGustDir_NE,WindGustDir_NNE,WindGustDir_NNW,WindGustDir_NW,WindGustDir_S,WindGustDir_SE,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [16]:
df = pd.concat([df, dummies], axis = 'columns')
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,2,13.4,22.9,0.6,4.8,8.4,W,44.0,W,WNW,...,0,0,0,0,0,0,0,0,1,0
1,2,7.4,25.1,0.0,4.8,8.4,WNW,44.0,NNW,WSW,...,0,0,0,0,0,0,0,0,0,1
2,2,12.9,25.7,0.0,4.8,8.4,WSW,46.0,W,WSW,...,0,0,0,0,0,0,0,0,0,1
3,2,9.2,28.0,0.0,4.8,8.4,NE,24.0,SE,E,...,0,0,0,0,0,0,0,0,0,0
4,2,17.5,32.3,1.0,4.8,8.4,W,41.0,ENE,NW,...,0,1,0,0,0,0,0,0,0,0

In [17]:
df['RainToday'] = df['RainToday'].map({'No': 0, 'Yes': 1})
df['RainTomorrow'] = df['RainTomorrow'].map({'No': 0, 'Yes': 1})
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,2,13.4,22.9,0.6,4.8,8.4,W,44.0,W,WNW,...,0,0,0,0,0,0,0,0,1,0
1,2,7.4,25.1,0.0,4.8,8.4,WNW,44.0,NNW,WSW,...,0,0,0,0,0,0,0,0,0,1
2,2,12.9,25.7,0.0,4.8,8.4,WSW,46.0,W,WSW,...,0,0,0,0,0,0,0,0,0,1
3,2,9.2,28.0,0.0,4.8,8.4,NE,24.0,SE,E,...,0,0,0,0,0,0,0,0,0,0
4,2,17.5,32.3,1.0,4.8,8.4,W,41.0,ENE,NW,...,0,1,0,0,0,0,0,0,0,0

In [18]:
df = df.drop(df[['WindGustDir','WindDir9am','WindDir3pm' ]], axis = 'columns')
df.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,2,13.4,22.9,0.6,4.8,8.4,44.0,20.0,24.0,71.0,...,0,0,0,0,0,0,0,0,1,0
1,2,7.4,25.1,0.0,4.8,8.4,44.0,4.0,22.0,44.0,...,0,0,0,0,0,0,0,0,0,1
2,2,12.9,25.7,0.0,4.8,8.4,46.0,19.0,26.0,38.0,...,0,0,0,0,0,0,0,0,0,1
3,2,9.2,28.0,0.0,4.8,8.4,24.0,11.0,9.0,45.0,...,0,0,0,0,0,0,0,0,0,0
4,2,17.5,32.3,1.0,4.8,8.4,41.0,7.0,20.0,82.0,...,0,1,0,0,0,0,0,0,0,0

In [24]:
# from sklearn.ensemble import RandomForestRegressor
# rf = RandomForestRegressor(verbose = 100)
# rf.fit(X_train, y_train)

# y_pred1 = rf.predict(X_test)
# y_pred1

# from sklearn.metrics import r2_score, mean_squared_error

# r2 = r2_score(y_test, y_pred1)
# mse = mean_squared_error(y_test, y_pred1)

# print(f"R² Score: {r2:.4f}")
# print(f"Mean Squared Error (MSE): {mse:.4f}")

In [32]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Step 2: Separate features (X) and target (y)
X = df.drop(columns=["Rainfall"])  # All columns except 'Rainfall'
y = df["Rainfall"]                 # Target column

# Step 3: Normalize features
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)  # Now X_scaled is defined

# Step 4: Create sequences
timesteps = 7

def create_sequences(X, y, timesteps):
    Xs, ys = [], []
    for i in range(len(X) - timesteps):
        Xs.append(X[i:i+timesteps])
        ys.append(y[i + timesteps])
    return np.array(Xs), np.array(ys)

X_seq, y_seq = create_sequences(X_scaled, y.values, timesteps)

# Check shapes
print("X_seq shape:", X_seq.shape)  # (samples, timesteps, features)
print("y_seq shape:", y_seq.shape)  # (samples,)

# 80% train, 20% test split
split_index = int(len(X_seq) * 0.8)
X_train, X_test = X_seq[:split_index], X_seq[split_index:]
y_train, y_test = y_seq[:split_index], y_seq[split_index:]

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv1D, MaxPooling1D, LSTM, Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping

# Define model
model = Sequential([
    Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(X_train.shape[1], X_train.shape[2])),
    MaxPooling1D(pool_size=2),
    Dropout(0.3),
    LSTM(64),
    Dropout(0.3),
    Dense(1)
])

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

# Train the model
early_stop = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

history = model.fit(
    X_train, y_train,
    epochs=100,
    batch_size=32,
    validation_split=0.1,
    callbacks=[early_stop],
    verbose=1
)

X_seq shape: (145231, 7, 66)
y_seq shape: (145231,)
X_train shape: (116184, 7, 66)
X_test shape: (29047, 7, 66)

C:\Users\Bibek\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\convolutional\base_conv.py:113: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 26s 7ms/step - loss: 76.0192 - mae: 3.5123 - val_loss: 26.9748 - val_mae: 2.3553
Epoch 2/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 21s 6ms/step - loss: 68.0328 - mae: 3.3710 - val_loss: 26.7690 - val_mae: 2.4902
Epoch 3/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 21s 7ms/step - loss: 72.9024 - mae: 3.4208 - val_loss: 27.1364 - val_mae: 2.8821
Epoch 4/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 21s 7ms/step - loss: 69.4592 - mae: 3.3667 - val_loss: 27.8279 - val_mae: 2.7921
Epoch 5/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 22s 7ms/step - loss: 71.1054 - mae: 3.3919 - val_loss: 26.4824 - val_mae: 2.4446
Epoch 6/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 21s 7ms/step - loss: 76.9166 - mae: 3.4605 - val_loss: 26.4031 - val_mae: 2.6214
Epoch 7/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 22s 7ms/step - loss: 70.5034 - mae: 3.3781 - val_loss: 26.1756 - val_mae: 2.5728
Epoch 8/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 22s 7ms/step - loss: 66.8170 - mae: 3.3738 - val_loss: 26.3289 - val_mae: 2.4812
Epoch 9/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 22s 7ms/step - loss: 60.3124 - mae: 3.2349 - val_loss: 26.4612 - val_mae: 2.5682
Epoch 10/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 22s 7ms/step - loss: 62.9359 - mae: 3.2967 - val_loss: 26.4983 - val_mae: 2.5219
Epoch 11/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 22s 7ms/step - loss: 65.2275 - mae: 3.3371 - val_loss: 26.5029 - val_mae: 2.4136
Epoch 12/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 22s 7ms/step - loss: 61.8113 - mae: 3.2504 - val_loss: 26.8263 - val_mae: 2.5436
Epoch 13/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 22s 7ms/step - loss: 58.5701 - mae: 3.2494 - val_loss: 26.9496 - val_mae: 2.3364
Epoch 14/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 22s 7ms/step - loss: 67.1036 - mae: 3.3752 - val_loss: 26.7867 - val_mae: 2.4473
Epoch 15/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 22s 7ms/step - loss: 57.4981 - mae: 3.2413 - val_loss: 26.5996 - val_mae: 2.7127
Epoch 16/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 21s 7ms/step - loss: 58.6601 - mae: 3.2338 - val_loss: 26.6314 - val_mae: 2.4118
Epoch 17/100
3268/3268 ━━━━━━━━━━━━━━━━━━━━ 23s 7ms/step - loss: 59.0685 - mae: 3.2513 - val_loss: 26.6765 - val_mae: 2.5290

In [33]:
from sklearn.metrics import r2_score

# Predict
y_pred = model.predict(X_test).flatten()

# R² Score
r2 = r2_score(y_test, y_pred)
print(f"R² Score: {r2:.4f}")

908/908 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step
R² Score: 0.0750